<!-- Validation failure messages -->
<% if @box.errors.any? %>
  <% @box.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Box</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_box" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for city_id -->
      <div class="form-group">
        <label for="city_id" class="control-label">
          City
        </label>

        <input type="text" id="city_id" name="city_id" placeholder="City" class="form-control" value="<%= @box.city_id %>">
      </div>

      <!-- Label and input for details -->
      <div class="form-group">
        <label for="details" class="control-label">
          Details
        </label>

        <textarea id="details" name="details" placeholder="Details" class="form-control" rows="3"><%= @box.details %></textarea>
      </div>

      <button class="btn btn-success">
        Create Box
      </button>
      or
      <a href="/boxes">Cancel</a>
    </form>
  </div>
</div>
